* {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) #0d2d64;
}

:root {
  --primary: #0d2d64;
  --secondary: rgb(83, 218, 218);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
